# Environment variables
server/.env

# Database
server/data/audit_history.db
server/*.db

# Node modules
node_modules/
server/node_modules/
client/node_modules/

# Build files
client/build/

# Logs
*.log